.spacer {
  flex: 1 1 auto;
}

.main-body {
  padding: 20px 0px;
  margin: 0 auto;
  max-width: 1240px;
  mat-form-field {
    width: 100%;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
  }
}
