<mat-toolbar color="primary" class="header">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>管理画面</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side">
    <mat-nav-list class="side-nav">
      <mat-list-item [routerLink]="['/']">
        <button mat-button [routerLink]="['/']">
          <mat-icon>account_box</mat-icon>Employees
        </button>
      </mat-list-item>
      <mat-list-item [routerLink]="['/items']">
        <button mat-button [routerLink]="['/items']">
          <mat-icon>build</mat-icon>Items
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon>Help</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="nav">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
