<mat-toolbar color="primary" class="header">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>職員管理画面</span>
  <span class="spacer"></span>
  <span>作成</span>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>home</mat-icon>Home</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>settings</mat-icon>Settings</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>help</mat-icon>Help</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>analytics</mat-icon>Analytics</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="nav">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
